{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="container">
    <img src="{% static 'images/banener.webp' %}" alt="">
    <h1 class="h">OUR PRODUCTS</h1>

</div>

<div class="container mt-2">
    <div class="row">
        {% for i in obj %}
        <div class="col-lg-3 m">

        <div class="card" style="width: 18rem;">
            <img src="{{i.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.name}}</h5>
              <h3 class="card-title"><i class="bi bi-currency-rupee icn">{{i.price}}</i></h3>
              <!-- <p class="card-text">{{i.desc}}</p> -->
              <a href="#" class=" b1">MORE DETAILS</a>
            </div>
          </div>
        </div>
          {% endfor %}
    </div>
   
</div>

{% endblock %}
