{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="container c">
    <div class="row">
        <div class="col-lg-12">
            <h3>DETAILS</h3>

        </div>
    </div>
</div>
<div class="container c">
    <div class="row">
        <div class="col-lg-3">
            <img class="i" src="{{prod.image.url}}" alt="">
        </div>
        <div class="col-lg-4 c1">
          
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{prod.name}}</h5>
                  <h6 class="card-subtitle mb-2  pr"><i class="bi bi-currency-rupee icn"></i>{{prod.price}}</h6>
                  <p class="card-text text-muted">{{prod.desc}}</p>
                  <a href="#" class="card-link"><button class="b1">ADD TO CART</button></a>
                </div>
              </div>
        </div>
    </div>
</div>



{% endblock %}
