<!-- <div class="container-fluid mt-5 ">
    <footer class="bg-light text-dark text-center py-4">
    <h5 class="foot">Let's get social</h5>
    <p class="foot">Privacy Policy . Terms & Conditions</p>
    <p class="text-muted foot">&copy; 2024 Image Marketing Limited.All Rights Reserved</p>
    <p class="foot">For queries contact us: Manager, Imagine Marketing Limited Unit no. 204 & 205, 2nd floor, D-wing & E-wing,<br>Corporate Avenue, Andheri Ghatkopar Link Road, Mumbai, Maharashtra-400093, India</p>
    </footer>
  </div> -->