{% extends 'index.html' %}
{% load static %}
{% block body %}



<form class="form-box" action="" method="post">
    {% csrf_token %}
    <div class="container c">

        <h3 class="l">ADMIN LOGIN</h3>
           
        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label u">Username</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" name="username" placeholder="username">
        </div>
       </div>

        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label p">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control"  name="password" placeholder="Password" id="inputPassword3">
            </div>
        </div>
            <a href=""><p class="f">forget password</p></a>
            <a href="{% url 'madmin:registeradmin' %}" ><p class="n ">new user</p></a>
        
        <center><input type="submit"> </center>
    </div>
</form>



{% for msg in messages %}
{{msg}}
{% endfor %}



{% endblock %}
