{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="container">
    <p class="text-center">You Have Searched for:<b>{{query}}</b></p>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        {% for i in products %}
        <div class="col-lg-3 m">

            <div class="card" style="width: 18rem;">
               <img src="{{i.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{i.name}}</h5>
                  <h3 class="card-title"><i class="bi bi-currency-rupee icn">{{i.price}}</i></h3>
                  <!-- <p class="card-text">{{i.desc}}</p> -->
                  <a href="{% url 'shop:detail' i.id  %}" class=" b1">MORE DETAILS</a>
                </div>
              </div>
            </div>
            {% empty %}
            <div class="row mx-auto">
                <p class="text-center">0 Results Found</p>
            </div>

        {% endfor%}

    </div>
</div>

{% endblock %}
