img 
{
    width: 100%;
}

.h 
{
    margin-top: 3%;
    color: rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;

}
.m
{
    margin-top: 2%;
}

.icn 
{
    font-size: 16px;
}


.b1 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.b1:focus {
  color: #171e29;
}

.b1:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.b1:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}