img 
{
    width: 100%;
}

.c 
{
    margin-top: 3%;
    font-family: 'Kanit', sans-serif;

}

.c1 
{
}
.icn
{
font-size: 16px;
}

.b1 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .b1:focus {
    color: #171e29;
  }
  
  .b1:hover {
    border-color: rgb(253, 3, 3);
    color: rgb(255, 0, 34);
    fill: rgb(249, 6, 6);
  }
  
  .b1:active {
    border-color: rgb(241, 8, 8);
    color: rgb(232, 6, 6);
    fill: rgb(255, 0, 0);
  }
  
  @media (min-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }

.pr 
{
    color: rgb(26, 192, 26);
}